a {color:#333;}
h1 {font-family:"Noto Sans",sans-serif; font-size:38px; font-weight:600; line-height:1; margin:0; padding:0; letter-spacing:-2px;}
h2 {font-family:"Noto Sans",sans-serif; font-size:30px; font-weight:300; line-height:1; margin:0; padding:0; letter-spacing:0;}
h3 {font-family:"Noto Sans",sans-serif; font-size:22px; font-weight:200; line-height:1; margin:0; padding:5px 0 10px 0;}
h4 {font-family:"Noto Sans",sans-serif; font-size:14px; font-weight:800; line-height:1; margin:0; padding:0;}
p {font-family:"Noto Sans",sans-serif; font-size:18px; font-weight:400; line-height:1.4; margin:0; padding:0;}
hr {border:none; height:1px; background-color:#333; margin:2px auto 15px auto; padding:0; width:100%;}

body {color:#333; margin:0; padding:0; box-sizing:border-box; font-family:Sans; background-color:#EEEEEE;}
header {box-sizing:border-box; display:flex; justify-content:space-between; align-items:center; background-color:#176B87; color:white; padding:0; margin:0; position:fixed; height:50px; width:100%; top:0; left:0; z-index:1000;}
.flex-container {box-sizing:border-box; display:flex; flex-wrap:wrap; align-items:flex-start; text-align:left; width:100%; padding:0; margin:0; position:relative;}
.flex-column {box-sizing:border-box; flex:0 0 50%; padding:20px 20px; margin:0; width:100%; max-width:768px;}
.flex-column-wide {box-sizing:border-box; flex:0 0 100%; padding:20px; margin:0;}

.text-overlay{position:absolute; top:50%; left:50%; transform:translate(-50%,-50%); color:'#333'; text-align:center; background:rgba(0,0,0,0); padding:0; box-sizing:border-box; width:90%; z-index:2;}
.text-overlay-left{position:absolute; right:0; left:0; text-align:right; color:#333; background:#EEEEEE; padding:5px; box-sizing:border-box; z-index:2; height:100%; width:50%;}

.text-overlay-left h1{font-size:24px; line-height:1;}
.text-overlay-left p{font-size:12px; line-height:1;}

.text-overlay-right{position:absolute; bottom:5px; right:5px; color:'#333'; text-align:right; background:rgba(0,0,0,0); padding:0; box-sizing:border-box; z-index:2;}
.text-background-black {display:inline-block; background-color:rgba(0,0,0,0.5); margin:0; padding:0 2px;}
.text-background-white {display:inline-block; background-color:rgba(255,255,255,0.5); margin:0; padding:0 2px;}

.image-container{display:flex; overflow:hidden; position:relative; height:auto; width:100%; margin:0 auto; align-items:center; justify-content:center; padding-top:35px;}
.image {display:block; width:100%; height:auto; max-height:100%;}
.image-small {display:block; width:50%; height:auto; max-height:100%; max-width:100%; margin:auto; border-radius:0;}
.image-large {display:block; width:90%; height:auto; max-height:100%; max-width:100%; margin:auto; border-radius:10px;}
.image-overlay {position:absolute; transform:translate(-50%,-50%); height:auto;}

nav {display:none; flex-direction:column; align-items:flex-start; width:100%; background-color:#176B87; position:absolute; right:0; top:50px;}
nav.show {display:flex;}
nav a {color:white; text-decoration:none; font-size:14px; line-height:0.8; padding-bottom:10px; margin:10px;}
.menu-icon {display:block; cursor:pointer; font-size:20px; position:fixed; right:10px;}

@media only screen and (max-width: 768px) {
  nav {display:none; flex-direction:column; align-items:flex-start; width:100%; background-color:#176B87; position:absolute; right:0; top:50px;}
  nav.show {display:flex;}
  .flex-column {flex:0 0 100%;}
  .image-container{padding-top:0;}
}

.banner{color:#fff; background-color:#053B50; width:100%; height:300px; padding-top:70px; position:relative;}
.banner hr{background-color:#fff;}
.banner a{color:#fff; text-decoration:none;}
.banner h1{line-height:0.9; padding-bottom:5px;}
.banner p{font-size:16px; line-height:1.1;}

.footer {box-sizing:border-box; padding:50px 20px; margin-top:30px; background-color:#176B87; color:#fff; text-align:left;}
.footer hr{background-color:#fff;}
.footer a{color:#fff;}
.footer h4{font-size:10px; font-weight:600; margin:0; padding:12px 0 0 0;}


.tag-blue{display:inline-block; color:#fff; padding:2px 3px 1px 3px; margin:2px; position:relative; top:-2px; background-color:#3498db;}
.tag-green{display:inline-block; color:#fff; padding:2px 3px 1px 3px; margin:2px; position:relative; top:-2px; background-color:#2ecc71;}
.tag-orange{display:inline-block; color:#fff; padding:2px 3px 1px 3px; margin:2px; position:relative; top:-2px; background-color:#f39c12;}
.tag-red{display:inline-block; color:#fff; padding:2px 3px 1px 3px; margin:2px; position:relative; top:-2px; background-color:#e74c3c;}
